.container {
  width: 100%;
  height: 100vh;
  background-image: url("/Project/asset/image/tranh-phong-canh-vinh-ha-long-989-718x380.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
